{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between algin-items-center px-4 mt-4">
      <h3>Личный кабинет</h3>
      <p>{{ request.user.username }}</p>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="mb-3">
          <button data-bs-toggle="collapse" data-bs-target="#active-orders" class="btn btn-primary">
            В работе
          </button>
        </div>
        <div id="active-orders" class="collapse show">
          <table class="table">
            <thead>
              <tr>
                <th>Дата</th>
                <th>Услуга</th>
                <th>Статус</th>
              </tr>
            </thead>
            <tbody>
              {% for order in active %}
              <tr>
                <td>{{ order.datetime }}</td>
                <td>{{ order.service }}</td>
                <td>{{ order.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="mb-3">
          <button data-bs-toggle="collapse" data-bs-target="#archive-orders" class="btn btn-primary">
            Архив
          </button>
        </div>
        <div id="archive-orders" class="collapse">
          <table class="table">
            <thead>
              <tr>
                <th>Дата</th>
                <th>Услуга</th>
                <th>Статус</th>
              </tr>
            </thead>
            <tbody>
              {% for order in archive %}
              <tr>
                <td>{{ order.datetime }}</td>
                <td>{{ order.service }}</td>
                <td>{{ order.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">Профиль
        {% if request.GET.edit %}
        <form method="POST">
          {% csrf_token %}
          <label for="name">Имя</label>
            <input type="text" name="name" maxlength="50" required="" id="id_name" class="form-control">
          <label for="phone">Номер</label>
            <input type="text" name="phone" max="20" required="" id="id_phone" class="form-control">
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        {% else %}
        <p>Имя: {{ form.instance.name }}</p>
        <p>Телефон: {{ form.instance.phone }}</p>
        <p>Email: {{ request.user.email }}</p>
        <p>Скидка: {{ profile.discount }}</p>
        <a href="?edit=1" class="btn btn-primary">Редактировать</a>
        {% endif %}
      </div>
    </div>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Выйти</button>
    </form>
{% endblock %}